<div class="component-wrapper">
    <div class="chat-wrapper">
        <ng-container *ngFor="let message of messageList">
            <li *ngIf="message">{{userName}}: {{message}}</li>
        </ng-container>
    </div>
        
    <div class="input-wrapper">
        <mat-form-field>
            <mat-label>Type Here</mat-label>
            <input type="text" matInput [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()">
        </mat-form-field>

        <button (click)="sendMessage()">Send</button>
    </div>
</div>