@import '/src/app/global-styles.scss';

.component-wrapper {
    display: flex;
    justify-content: space-between;

    .chat-wrapper {
        display: flex;
        width: 85%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;

        h3 {
            margin-top: 10px;
        }

        .message-wrapper {
            display: flex;
            flex-flow: column;
            width: 60%;

            li {
                margin-top: 20px;

                .user-image-text-wrapper {
                    display: flex;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 45px;
                        height: 45px;
                        background-color: $primary;
                        font-weight: 800;
                        border-radius: 50%;
                        margin-right: 10px;
                        font-size: 20px;
                        color: #ffffff;
                        font-family: $font-monsterat;
                    };

                    p {
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        background-color: $primary;
                        border-radius: 20px 20px 20px 0;
                        letter-spacing: 0.5px;
                    }
                };

                .secondary {
                    flex-direction: row-reverse;
                    
                    div {
                        margin-right: 0;
                        margin-left: 10px;
                        background-color: $secondary;
                    }

                    p {
                        background-color: $secondary;
                        border-radius: 20px 20px 0 20px;
                    }
                    
                }
            }

            .align-right {
                align-self: flex-end;
            }
        }
    }

    .input-wrapper {
        display: flex;
        flex-flow: column;
        position: fixed;
        width: 50%;
        height: 8%;
        bottom: 5%;
        background-color: #ffffff8e;

        p {
            text-align: center;
            margin-bottom: 20px;
        }
    
        .form-send-button-wrapper {
            display: flex;
            width: 100%;
        }

        mat-form-field {
            width: 90%;
        }

        button {
            width: 10%;
            height: 70%;
            margin-left: 10px;
        }
    }
}
